<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Weather Website</title>
</head>
<body>
    <div>
        <img class="bg-image" src="https://wallpaperaccess.com/full/1540005.jpg"/>
        <div class="heading"><h1> World Weather Website</h1></div>
        <div class="table">
            <div class="table-elements" *ngFor="let country of data">
                <p routerLink="./{{country.capital}},{{country.alpha2Code}}" routerLinkActive="active"> {{country.name}}</p>
            </div>
        </div>
    </div>    
</body>
</html>
