<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Weather Website</title>
</head>
<body>
    <div>
        <img class="bg-image" src="https://wallpaperaccess.com/full/1540016.jpg"/>
        <div class="weather-content">
            <p style="margin-top: -0.75em;font-size: 2vw;text-transform: uppercase;text-align: center;"><ion-icon name="location" style="font-weight:bolder ; margin-right: 0.25em; "></ion-icon><b>{{data.name}}</b></p>
            <span class="temp"><h1>{{temp}}</h1><p style="font-size: 25px; font-weight: bold; transform: translateY(0.1em);">°c</p></span>
            <p style="font-weight: bold;  text-transform: uppercase;">{{data.weather[0].description}}</p>
            <p>Humidity: {{data.main.humidity}}%</p>
            <p>Wind: {{data.wind.speed}} Km/h, {{data.wind.deg}}°</p>
        </div>
    </div>    
</body>
</html>
